extends ../../layouts/default.pug

block main
    if (role.title)
    h1(class="mb-4") #{role.title}

    if (role.description)
        div(class="mb-4") !{role.description}

    if(role.permission)
        div(class="mb-4") <h5> Các quyền được quản trị </h5> !{role.permission}