//- doctype html
//- html(lang="en")
//-     head
//-         meta(charset="UTF-8")
//-         meta(name="viewport", content="width=device-width, initial-scale=1.0")
//-         title Danh sách sản phẩm
//-     body 
//-         h1 Danh sách sản phẩm

extends ../../layouts/default.pug

block main
    h1 Danh sách sản phẩm