//- doctype html
//- html(lang="en")
//-     head
//-         meta(charset="UTF-8")
//-         meta(name="viewport", content="width=device-width, initial-scale=1.0")
//-         title Danh sách sản phẩm
//-     body 
//-         h1 Danh sách sản phẩm

extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
    .container.mv-3 
        .row 
            .col-12 
                +box-head("Danh sách sản phẩm")

        .row 
            .col-4.mb-3 
                .product-item 
                    .inner-image 
                        img(src="https://cdn.dummyjson.com/products/images/beauty/Powder%20Canister/thumbnail.png", alt="iPhone 9")
                    .inner-content 
                        h3.inner-title iPhone 9
                        .inner-price-new 80$
                        .inner-price-old 100$
                        .inner-discount -20%